@import "../../assets/Variables.scss";

main.recipe {
  background: $main-bg-color;
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .content {
    margin: 10px;
    background: $content-bg-color;
    max-width: 900px;
    width: 900px;
    border: 2px solid $login-card-border-color;
    box-shadow: 0px 0px 10px 5px $secundary-color, inset 0px 0px 5px 1px white;
    padding: 2rem;
    border-radius: 1rem;

    .infoSection {
      display: flex;

      .recipeImage {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        border: 1px solid $light-black;
        align-self: center;
        margin-right: 20px;
        margin-left: 20px;
        object-fit: cover;
      }

      .recipeInfo {

        .recipeHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .recipeName {
            margin-bottom: 0;
            font-family: "Logotipo";
          }

          .recipeOwner {
            margin-bottom: 1rem;
            color: $light-black;
            text-decoration: none;
            font-size: 1.25rem;
            font-weight: bold;
          }

          .likes {

            h2 {
              padding-top: 0;
              margin-top: 0;
            }

            .likeImage {
              margin-left: 5px;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }

    .ingredients {
      margin-top: 1rem;

      ul {
        list-style: none;
        padding-left: 1rem;
        display: flex;
        flex-wrap: wrap;

        li {
          text-align: center;
          min-width: 200px;
          width: 33%;
          flex: 1 0;
        }
      }
    }

    .allergens ul {
      padding-left: 0;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      list-style: none;

      .allergenSimbol {
        margin: 0px 3px;
        width: 40px;
        height: 40px;
      }
    }

    .buttons {
      display: flex;
      margin-bottom: 1.5rem;

      &>* {
        flex: 1 0;
        background: $login-card-bg-color;
        border: 2px solid $login-card-border-color;
        box-shadow: 0px 0px 10px 5px $secundary-color, inset 0px 0px 5px 1px white;
        border-radius: 0.5rem;
        margin: 10px;
        font-weight: bold;
        transition: 0.3s;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          background: lighten($primary-color, 30%);
        }
      }
    }

    hr {
      height: 3px;
      color: black;
      border-radius: 5px;
    }

    .steps {
      margin-top: 1.5rem;
    }

    .finalState {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      .finalStateTitle {
        font-family: "Logotipo";
        font-size: 2rem;
      }

      img {
        margin-top: 1rem;
        width: 50%;
        border-radius: 2rem;
        box-shadow: 0px 0px 10px 10px $secundary-color;
      }
    }
  }
}

@media all and (max-width: 700px) {
  main.recipe {

    .content {

      .infoSection {
        display: flex;
        flex-flow: column;

        .recipeImage {
          width: 200px;
          height: 200px;
          border-radius: 100px;
        }
      }

      .buttons {
        display: flex;
        flex-flow: column;

        &>* {
          margin: 5px 0px;
        }
      }

      .finalState {

        img {
          width: 100%;
        }
      }
    }
  }
}