@import "../../assets/Variables.scss"; 

nav {
  height: $nav-height;

  background: radial-gradient(150px 30px at 160px bottom, $nav-background-color-lighten-1, $nav-background-color-lighten-2, $nav-background-color);
  border-bottom: 3px solid $nav-border-color;

  a {

    &:active,
    &:link,
    &:visited {
      color: black;
      text-decoration: none;
    }
  }

  button {
    border: 2px solid;
    border-radius: 5px;
    padding: 7px;
  }

  .logotype {
    font-family: "Logotipo";
    font-size: 2rem;
  }

  .imgLogotype {
    height: $nav-logo-size;
  }

  hr {
    color: black;
    background-color: black;
    border: 2px solid black;
    border-radius: 2px;
  }

  .navbar-nav {
    display: flex;
    flex-flow: row;

    &>* {
      margin-right: 10px;
    }
  }

  .pageInfoContainer{
    display: flex;
    align-items: center;

    h3 {
      margin-right: 1rem;
      margin-bottom: 0;
      font-size: 2rem;
      font-family: "Logotipo";
      cursor: pointer;
    }
  }

  .offcanvas-bottom {
    background: $primary-color;
    height: 40%;
  }
}