$altura-nav: 80px;
$imgLogo : $altura-nav - 10px;

nav {
  height: $altura-nav;
}

.imgLogo {
  height: $imgLogo;
}

.nombreLogo {
  font-size: 1.25rem;
  color: black;
  text-decoration: none;

  &:active, &:link, &:visited {
    text-decoration: none;
  }
}

hr {
  color: black;
}